@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url("http://mangafox.me/releases/"), url-prefix("http://mangafox.me/releases/"){
  #userscript-mrc-container {
    padding: 10px;
  }

  .userscript-mrc-highlight {
    padding: 5px;
    list-style-type: none;
  }

  #userscript-mrc-container #nav {
    width: 100%;
    padding-bottom: 20px;
  }
}