/* Animefreak styles */
h1, .view-header {
  display: none;
}

#userscript-arh-container {
  padding: 10px;
}

/* Kissanime styles */
.banner {
	position: relative;
	width: auto;
	padding: 0 12px;
}

#userscript-arh-nav {
	position: absolute;
	right: 0;
	margin-top: -35px;
}

#userscript-arh-nav .navi {
	display: none;
}

#divRandomAnime, #divReload {
	display: none;
}

#navsubbar > p {
	display: none;
}
