#userscript-idh-controls {
	position: fixed;
	bottom: 0;
	width: 167px;
	height: 32px;
	background: #fff;
	color: #aaa;
	border-top-right-radius: 10px;
	font-size: 13px;
	font-weight: bold;
	font-family: Arial,Helvetica,sans-serif;
	text-align: center;
	z-index: 1000;
}

#userscript-idh-download-button, #userscript-idh-add-checkboxes-button, #userscript-idh-reverse-search-button {
	width: 50px;
	height: 32px;
}

#userscript-idh-expand-button {
	display: inline-block;
	width: 15px;
	height: 30px;
	background: #fff;
	border: 1px solid #aaa;
	border-top-right-radius: 10px;
	line-height: 30px;
	cursor: pointer;
}

span[id^='userscript-idh-container-'] {
	position: relative;
	display: block;
}

input[id^='userscript-idh-download-checkbox-'] {
	position: absolute;
	top: 0;
	right: 0;
	width: 15px;
	height: 15px;
	margin: 0;
	border: 1px solid #aaa;
	cursor: pointer;
	z-index: 1000;
}
